<h2><%= @subsidiary.name %></h2>
<b>CNPJ:</b> <%= @subsidiary.cnpj %><br/>
<b>Endereço:</b> <%= @subsidiary.address %><br/><br/>

<%= link_to 'Editar', edit_subsidiary_path %><br/>
<%= link_to 'Voltar', root_path %><br/>