<p>Data de Inicio: <%= @rental.start_date.strftime('%d/%m/%Y') %></p><br/>
<p>Data de Encerramento: <%= @rental.end_date.strftime('%d/%m/%Y') %></p><br/>
<p>Cliente: <%= @rental.client.name %></p><br/>
<p>CPF: <%= @rental.client.cpf %></p><br/>
<p>Categoria do Carro: <%= @rental.category.name %></p><br/>

<% if @rental.scheduled? %>
  <%= form_with model: @rental, url: start_rental_path, method: :post do |f| %>
    <%= f.label :car_id, 'Carro' %>
    <%= f.collection_select :car_id, @cars, :id, :name %>
    <%= f.submit 'Iniciar Locação' %>
  <% end %>
<% elsif @rental.in_progress? %>
  <%= @rental.car.name %>
<% end %>
