<h2><%= @category.name %></h2>
<b>Diária</b> R$ <%= @category.daily_rate %><br/>
<b>Seguro do Carro</b> R$ <%= @category.car_insurance %><br/>
<b>Seguro contra Terceiros</b> R$ <%= @category.third_party_insurance %><br/><br/>
<%= link_to 'Editar', edit_category_path %><br/>
<%= link_to 'Voltar', root_path %>