<h2><%= @manufacturer.name %></h2>

<%= link_to 'Editar', edit_manufacturer_path %><br/>
<%= link_to 'Voltar', root_path %><br/>

<hr>

<h4>Modelos de <%= @manufacturer.name %> cadastrados</h4>
<% @manufacturer.car_models.each do |cm| %>
  <li><%= cm.name %></li>
<% end %>

