<h2><%= @car_model.name %></h2>
<b>Ano:</b> <%= @car_model.year %><br/>
<b>Motorização:</b> <%= @car_model.motorization %><br/>
<b>Combustivel:</b> <%= @car_model.fuel_type %><br/>
<b>Fabricante:</b> <%= @car_model.manufacturer.name %><br/>
<b>Categoria:</b> <%= @car_model.category.name %><br/><br/>
<%= link_to 'Editar', edit_car_model_path %><br/>
<%= link_to 'Voltar', root_path %>