<!DOCTYPE html>
<html>
  <head>
    <title>RentalCars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Pagina Inicial', root_path %><br/>
    <%= link_to 'Clientes', clients_path %><br/>
    <%= link_to 'Locações', rentals_path %><br/>

    <% if user_signed_in? %>
      <%= render 'shared/menu'%><br/>
      <%= link_to 'Sair', destroy_user_session_path, method: :delete %> <!-- a rota de logout, é preciso escrever o metodo, pois as rotas que o devise cria o verbo dessa rota é do tipo DELETE e por isso é necessario descrever qual metodo sera usado -->
    <% else %>
      <%= link_to 'Entrar', new_user_session_path %>
    <% end %>
    <br/><br/>
    <%= notice %>
    <%= alert %>
    <%= yield %>
  </body>
</html>
